body{
    background-color: #2C3930;
}

.heading{
    text-align: center;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h1{
    color: #DCD7C9;
    margin-bottom: 0px;
    margin-top: 20px;
}

h2{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A27B5C;
    text-align: center;
    font-size: 50px;

}
.img_section{
    display: flex;
    justify-content: center;
}

.img1{
    padding-right: 50px;
}